﻿body {
padding: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.main-container {
    margin: 20px;
    border: 2px solid black;
    border-radius: 2px;
    min-height: calc(100vh - 40px);
    padding: 20px;
}

.main-container  a{
    font-size: 15px;
    margin: 0px 6px 0px 6px;
}

.child-container {
    border: 2px solid black;
    border-radius: 2px;
    min-height: calc(100vh - 110px);
    padding: 20px;
    text-align:center;
}

table {
    margin: 20px auto;
    min-width :800px;
    text-align: left;
}
thead td {
    background-color: gray;
}

td { 
    border: 1px solid black;
    padding: 5px 10px;
    width:33%;
}

.add-form {
    width: 800px;
    border: 2px solid black;
    margin: 0px auto 20px auto;
    padding: 20px;
}

input{
    border: 1px solid black;
    padding: 3px;
}

.no-border{
    border:none;
}

.active{
    font-weight: bold;
}

.form-caption {
    width: 800px;
    text-align: left;
    margin: 0px auto;
}

.odd{
    background-color:lightgray;
}