﻿<div ng-app="app" class="main-container">
    <a ui-sref="items" ui-sref-active="active">Items</a>
    <a ui-sref="statistic" ui-sref-active="active">Item Statistic</a>
    <ui-view></ui-view>
</div>