﻿<section>
    <form class="add-form no-border" novalidate autocomplete="off" name="form" ng-submit="$ctrl.edit(form)">
        <b> Edit Item</b>
        <input type="text" placeholder="Item name" ng-model="$ctrl.resolve.item.Name" required name="Name">
        <input type="text" placeholder="Item type" ng-model="$ctrl.resolve.item.TypeName" required name="TypeName">
        <input type="submit" value="Save">

        <div ng-messages="form.Name.$error" ng-if="form.$submitted" role="alert">
            <p class="error" ng-message="required">Item name is required.</p>
        </div>
        <div ng-messages="form.TypeName.$error" ng-if="form.$submitted" role="alert">
            <p class="error" ng-message="required">Type is required.</p>
        </div>
    </form>
</section>
