﻿<div class="child-container">
    <b>Items</b>
    <div>
        <p class="form-caption">   add new item</p>
        <form class="add-form" novalidate autocomplete="off" name="form" ng-submit="$ctrl.add(form)">

            <input type="text" placeholder="Item name" ng-model="$ctrl.newItem.Name" required name="Name">
            <input type="text" placeholder="Item type" ng-model="$ctrl.newItem.TypeName" required name="TypeName">
            <input type="submit" value="add" ng-disabled="$ctrl.addRequest">

            <div ng-messages="form.Name.$error" ng-if="form.$submitted" role="alert">
                <p class="error" ng-message="required">Item name is required.</p>
            </div>
            <div ng-messages="form.TypeName.$error" ng-if="form.$submitted" role="alert">
                <p class="error" ng-message="required">Type is required.</p>
            </div>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Item name</td>
                    <td>Item type</td>
                    <td></td>
                </tr>
            </thead>
            <tr ng-repeat="item in $ctrl.items" ng-class-odd="'odd'">
                <td>{{item.Name}}</td>
                <td>{{item.TypeName}}</td>
                <td>
                    <a href="#" ng-click="$ctrl.edit(item)">edit</a>
                    <a href="#" ng-click="$ctrl.delete(item.Id)" ng-disabled="$ctrl.deleteRequest">delete</a>
                </td>
            </tr>
        </table>
    </div>
    <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.getItems()" max-size="$ctrl.maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
</div>