﻿<div class="child-container">
    <b>Statistic</b>
    <div>
        <table>
            <thead>
                <tr>                   
                    <td>Item type</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tr ng-repeat="item in $ctrl.items" ng-class-odd="'odd'">
                <td>{{item.TypeName}}</td>
                <td>{{item.Count}}</td>
            </tr>
        </table>
    </div>
    <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.getItems()" max-size="$ctrl.maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
</div>